.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,...) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


.grid-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}


.word-list-container {
    margin-right: 20px;
}


    .word-list-container ul {
        list-style-type: none;
        padding: 0;
    }

    .word-list-container li {
        margin-bottom: 5px;
        font-size: 16px;
    }


.found-word {
    text-decoration: line-through;
    color: gray;
}


.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.word-search-grid {
    border-collapse: collapse;
}

    .word-search-grid td {
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 16px;
    }


        .word-search-grid td:hover {
            background-color: #f0f0f0;
        }


.selected-cell {
    background-color: #add8e6;
}

.correct-word {
    background-color: #90ee90;
}


.form-group {
    margin-bottom: 15px;
}


.btn {
    margin: 5px;
}
